/stamp-h
/config.h.in
/config.log
/config.status
/config.cache
/libtool
/stamp-h1
/cvc4-*.tar.gz
/cvc4-*.tar.bz2
/builds/
/doc/doxygen
.dep
callgrind.out*
gmon.out
stamp-generated
generated/
*~
\#*\#
*.gcov
/lcov/
/config/compile
/config/tap-driver.sh
.cvc4_config
config.reconfig
*.swp
/debug/
/personal.conf
/personal.mk
/antlr-3.4
